body {
    font-family: Arial, sans-serif;
}
#shopping-list {
    margin-top: 20px;
}
.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
button:hover {
    background-color: darkred;
}

.add {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.add:hover {
    background-color: darkgreen;
}